@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/src/assets/fonts/Roboto-VariableFont.woff2") format("woff2");
}

:root {
  --blue-700: hsl(235 18% 26%);
  --blue-800: hsl(234 29% 20%);
  --red: hsl(4 100% 67%);
  --gradient: hsl(15 100% 61%), hsl(346 100% 66%);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--blue-700);
}
